<applet archive="gamepack.jar" code="iiiiiIiiii.class" width="765" height="503">
<param name="worldid" value="1">
<param name="modewhat" value="0">
<param name="modewhere" value="0">
<param name="lowmem" value="0">
<param name="members" value="1">
<param name="game" value="0">
<param name="lang" value="0">
<param name="smart-true-root" value="https://world1.scaperune.info">
</applet>
